
*{
font-family: 'Nunito Sans', sans-serif;
}
.notselected{
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none; 
-ms-user-select: none; 
user-select: none; 
}

#glideone{
background: #4482e5;
color:white;
font-size:20px;

}	
#glidetwo{
background: #e84570;
color:white;
font-size:20px;

}
#glidethree{
background: #7344e2;
color:white;
font-size:20px;

}
#glidefour{
background: #e07945;
color:white;
font-size:20px;

}
#glidefive{
background: #dd4444;
color:white;
font-size:20px;

}
#glidesix{
background: #cc4da1;
color:white;
font-size:20px;

}
.header{
margin:0;
position: absolute;
top:0;
height:50px;
width:100%;
background: rgba(1,1,1,0.2) !important;
color:white;
}
.logo{
font-size: 20px;
position: absolute;
left:5%;
top:10px;
color:white;
}
.fa-download{
font-size: 20px;
position: absolute;
right:100px;
top:15px;
color:white;
}
.fa-bitbucket{
font-size: 20px;
position: absolute;
right:40px;
top:15px;
color:white;
}

.codes{
font-size: 18px !important;
text-align: left !important;
}

.btncopy{
width:150px;
height:40px;
border-radius: 4px;
color:#e84570;
background: white;
border: none;
outline: none;
font-size: 18px;
font-weight:600;
}

#copy{
position:absolute;
left:-1000% !important;
}

@media screen and (min-width : 320px) and (max-width : 820px){
.glideContent{
font-size:13px;
width:85% !important;
}
.logo{
font-size:20px;
top:13px;
}
.fa-download{
font-size:18px;
right:80px;
top:18px;
}
.fa-bitbucket{
font-size:18px;
right:30px;
top:18px;
}
.btncopy{
width:100px;
height:30px;
border-radius: 4px;
color:#e84570;
background: white;
border: none;
outline: none;
font-size: 12px;

font-weight:600;
}
.codes{
font-size: 12px !important;
text-align: left !important;
}

}